/*
Error: Undefined variable: "$custom-font-body".
        on line 81 of src/style/_gutenberg-config.scss
        from line 11 of src/style/gutenberg.scss

Backtrace:
src/style/_gutenberg-config.scss:81
src/style/gutenberg.scss:11
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/script/tree/node.rb:50:in `perform'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:482:in `visit_variable'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:302:in `block (2 levels) in visit_if'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:302:in `map'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:302:in `block in visit_if'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:301:in `visit_if'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:305:in `visit_if'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:305:in `visit_if'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:329:in `map'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:88:in `block in with_import'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:88:in `with_import'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:391:in `run'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
/home/nicholas/.gem/ruby/gems/sass-3.5.1/bin/sass:13:in `<top (required)>'
/home/nicholas/bin/sass:22:in `load'
/home/nicholas/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$custom-font-body\".\A         on line 81 of src/style/_gutenberg-config.scss\A         from line 11 of src/style/gutenberg.scss"; }
